body{
    margin: 0;
    font-family: Arial, sans-serif;
    justify-content: center;
}

/*MENU*/
.menu {
    position: fixed; /*fija el menu en la parte superior de la pantalla*/
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    z-index: 1000; /*para que se superponga*/
}

.menu ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /*centra los elementos*/
}

.menu .logo{
    height: 60px;
}

.menu img{
border-radius: 20px;
}

/*TITULO*/
.container-titulo{
    display: grid;
    place-items: center; /*centra el contenido*/
} 

.titulo{
    border-bottom: 3px solid #d20a0a; /*linea inferior*/
    text-align: center;
}

.titulo .num{
    color: red;
}

/*FORMULARIO*/
.container{
    padding: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.label{
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
    display: block; /*para que el label se muestre en una linea*/
}

.input{
    width: 100%;
    padding: 8px;
    margin-bottom: 15px; /*espacio entre los inputs*/
    border: none;
    border-bottom: 1px solid #ccc; /*linea inferior*/
    outline: none;
    font-size: 16px;
    box-sizing: border-box; /*para que el padding no afecte el tamaño del input*/
}

.nacimiento{
    width:96.5%;
    display: flex;
    gap: 100px;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px;
    align-items: center;
    color: #666;
}

.select > select{
    border:1px solid #666;
}

.nac-select{
    flex: 1;
    padding: 8px;
    border: none;
    background: transparent; 
    cursor: pointer; 
    outline: none; /*quita el borde*/
    appearance: none; /*quita la flecha del select*/
}

.genero{
    width:94.5%;
    display: flex;
    gap: 100px;
    border-bottom: 1px solid #e0e0e0;
    padding: 15px;
    align-items: center;
    color: #666;
    margin-top: 20px;
    
}

.datos-personales{
    flex:1;
    border-right: 3px solid #e0e0e0;;
    padding:10px;
}

.info-evento{
    flex:1;
    padding:10px;
}

.asiento{
    width:96.5%;
    display: flex;
    gap: 100px;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px;
    align-items: center;
    color: #666;
}

.asiento select, span{
    margin-bottom: 10px;
}

.evento{
    width:96.5%;
    display: flex;
    gap: 100px;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px;
    align-items: center;
    color: #666;
}

.evento select, span{
    margin-bottom: 10px;
    margin-top: 10px;
}

.terminos{
    display: flex;
    border-bottom: 1px solid #e0e0e0;
    padding: 15px;
}

.img{
    display: grid;
    justify-content: center;
}

.principal{
    display:flex;
}

.comprar-entradas{
    display: grid;
    place-items: center;
}

.contenido{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
}

form{
    margin: 20px auto;
    max-width: 100%;
}

