body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    justify-content: space-between;
    font-size: 20px;
    z-index: 1000;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu ul li {
    margin: 0;
}

.menu ul li a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-align: center;
}

.menu ul li a:hover {
    background-color: #575757;
}

.menu .logo {
    height: 60px;
    border-radius: 20px;
}

.titulo{
    display: inline-block;
    border-bottom: 3px solid #d20a0a;
}

.titulo h1{
    font-size: 35px;
}

.num{
    color: #d20a0a;
}

.container-contenido{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 40px;
    display: inline-block;
    font-size: 13px;
}

.container-contenido div{
    display: flex;
    justify-content: center;
    border: 7px solid black;
    display: inline-block;
    padding: 20px;
    font-weight: bold;
    transition: all 0.3s;
}

.container-contenido div h1{
    font-size: 15px;
}

.container-contenido div iframe{
    width: 200px;
    height: 135px;
}

.container-contenido div:hover{
    transform: scale(1.05);
    background-color: red;
    color:white;
}

.container-contenido div img{
    border: 5px solid black;
    width: 150px;
    height: 90px;
}

.top1 img{
    background-image: url(imagenes/banderas-paises/rusia.png);
    background-size: auto 100%;
}

.top2 img{
    background-image: url(imagenes/banderas-paises/brasil.png);
    background-size: auto 110%;
}

.top3 img{
    background-image: url(imagenes/banderas-paises/eeuu.png);
    background-size: auto 100%;
}

.top4 img{
    background-image: url(imagenes/banderas-paises/espana.png);
    background-size: auto 100%;
}