body {
    margin: 0;
    font-family: Arial, sans-serif;
    justify-content: center;
}


/* MENU */
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    z-index: 1000;
}

.menu ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu .logo{
    height: 60px;
}

.menu img{
border-radius: 20px;
}

img{
    border-radius: 20px;
}

/*TITULO*/
.titulo-container{
    display: grid;
    place-items: center;
}

.titulo h1{
    text-align: center;
}

.titulo{
    border-bottom: 3px solid #d20a0a;
}

.num{
    color: #d20a0a;
}


/* CONTAINER */
.container img{
    width: 150px;
    height: 100px;
}

.container{
    display: grid;
    place-items: center;
    font-size: 13px;
}

.container-contenido > div{
    transition: all 0.3s;
}

.container-contenido > div:hover{
    transform: scale(1.05);
    background-color: red;
    color:white;
    border: 5px solid black;
}

.container-contenido{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 100px;
    display: grid;
    place-items: center;
}

/*LUCHA 1*/
.lucha1-container{
    width: 100%;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.lucha1{
    display: flex;
    align-items: center;
}

.lucha1-contenido{
    padding: 0 20px;
}

.islam img{
    background-image: url(imagenes/banderas-paises/rusia.png);
    border: 5px solid black;
    background-size: auto 100%;
}

.arman img{
    background-image: url(imagenes/banderas-paises/armenia.webp);
    border: 5px solid black;
    background-size: auto 100%;
}


/*LUCHA 2*/
.lucha2-container{
    width: 100%;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.lucha2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lucha2-contenido{
    padding: 0 20px;
}

.merab img{
    background-image: url(imagenes/banderas-paises/georgia.webp);
    border: 5px solid black;
    background-size: auto 100%;
}

.umar img{
    background-image: url(imagenes/banderas-paises/rusia.png);
    border: 5px solid black;
    background-size: auto 100%;
}

/*LUCHA 3*/
.lucha3-container{
    width: 100%;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.lucha3{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lucha3-contenido{
    padding: 0 20px;
}

.prochazca img{
    background-image: url(imagenes/banderas-paises/republica_checa.svg);
    border: 5px solid black;
    background-size: auto 100%;
}

.hill img{
    background-image: url(imagenes/banderas-paises/eeuu.png);
    border: 5px solid black;
    background-size: auto 100%;
}

.entradas{
    display: inline-block;
}

.entradas a:link, .entradas a:visited, a:focus {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.entradas a:hover, .entradas a:active {
    background-color: red;
}
